@import url('https://rsms.me/inter/inter.css');

@import './variables.styl';

@import '~bulma-stylus/stylus/layout/_all';
@import '~bulma-stylus/stylus/helpers/_all';
@import '~bulma-stylus/stylus/grid/_all';
@import '~bulma-stylus/stylus/form/_all';

@import '~bulma-stylus/stylus/elements/box';
@import '~bulma-stylus/stylus/elements/button';
@import '~bulma-stylus/stylus/elements/container';
@import '~bulma-stylus/stylus/elements/content';
@import '~bulma-stylus/stylus/elements/notification';
@import '~bulma-stylus/stylus/elements/tag';
@import '~bulma-stylus/stylus/elements/title';

@import '~bulma-stylus/stylus/components/dropdown';
@import '~bulma-stylus/stylus/components/level';
@import '~bulma-stylus/stylus/components/menu';

@import './components/switch.styl';


html, body
	width 100%
	height 100%
	overflow hidden

code
	border-radius 4px

.tag
	font-weight $weight-semibold
	text-transform uppercase
	letter-spacing 0.05em

.title
	img
		vertical-align text-bottom

	a
		img
			opacity .25
		
		&:hover img
			opacity 1

.field
	margin 0 -0.75rem 0 -1rem !important
	padding 0.75rem 0.75rem 0.75rem 1rem
	border-radius 12px
	transition 0.15s background linear

	.field
		margin 0 !important
		padding 0
		background none !important

	&:hover
		background $white-bis

		.input:not([disabled])
			border-color $input-hover-border-color

	&:active, &.is-active
		background rgba($primary, 0.15)

		.input:not([disabled])
			border-color $input-focus-border-color
	
	.input
		transition 0.15s box-shadow linear, 0.15s border linear

.field-label
	flex-grow 2
	text-align left
	margin 0

	label
		padding-right 1.5rem
		height 100%

	h1, h2, h3, h4, h5, h6
		font-size $size-6
		font-weight $weight-medium
	
	p
		font-size 0.675rem
		font-weight $weight-normal
		color $grey

main#main
	.menu-list a.is-active
		background $dark

.menu-list > li
	position relative

	.dropdown
		position absolute
		top 0
		right 0
		height 100%
		display none

		.dropdown-trigger a
			background url('/images/ellipsis.svg') no-repeat
			padding 0
			height 100%
			width 2.25rem

			&:hover
				background-color rgba(0,0,0,.25)
		
		.dropdown-item
			border-radius 0
	
	a.is-active + .dropdown
		display inline-flex


.prism-editor
	background $grey-darker
	color $grey-light
	border-radius 4px

	font-family $family-monospace
	font-size 14px
	line-height 1.5
	padding 5px

	pre
		color $grey

.prism-editor__textarea:focus
	outline none
